*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
h1{
	text-align: center;
	font-size: 1.75em;
	margin: 1.5em 0;
}
p{
    font-size: 1.25em;
}
.container{

	width: 100%;
	margin: auto;

}
.item1, .item2, .item3{
	position: relative;
	background-color: #808080;
	margin: 1em;
    padding: 2.3em 1em 1em 1em;
	border: solid black 2px;
	}
span{
	position: absolute;
	height: 30px;
	width: 	150px; 
	top: 0;
	right: 0;
	padding: 5px 15px;
	border: solid black 2px;
	text-align-last: center;
	font-weight: bold;
}
.item1 span{
	background-color: rgb(248, 177, 204);
}
.item2 span{
	background-color: rgb(126, 3, 3);
	color: white;
}
.item3 span{
	background-color: rgb(222, 184, 135);
}
@media (min-width: 992px){
  .item1, .item2, .item3{
  	width: 28%;
  	float: left;

  }
  .item1{
  	margin-left: 5%;
  }
  .item3{
  	margin-right: 5%;
  }
  .item2{
  	margin-left: 1%;
  	margin-right: 1%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .item1, .item2{
  	width: 43%;
  	float: left;
  }
  .item1{
  	margin-left: 5%;
  	margin-right: 2%;
  }
  .item2{
  	margin-left: 2%;
  	margin-right: 5%;
  }
  .item3{
  	clear: both;
  	margin: 5%;

  }
}
